@model Models.Users

@{
    ViewData["Title"] = "Create";
}




<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;margin-top: 20%;">


                    <div class="row">
                        <div class="col-md-9">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="input-group mb-3">
                                </div>
                                <div class="form-group input-group mb-3">
                                    <input type="text" class="form-control" placeholder="FirstName" id="FirstName" name="FirstName">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Last Name" id="LastName" name="LastName">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Contact details " id="Contact" name="Contact">
                                    <span asp-validation-for="Contact" class="text-danger"></span>
                                </div>

                                <select class="form-select input-group mb-3" aria-label="Default select example">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="form-group input-group mb-3">
                                    <input class="form-control" placeholder="Select Birth Date" type="text" id="DateOfBirth" name="DateOfBirth" />
                                </div>
                                <div class="form-group ">
                                    <select class="form-select input-group mb-3" aria-label="Default WorkerType example">
                                        <option value="Mistris">Mistri</option>
                                        <option value="Labours">Labour</option>
                                    </select> <span asp-validation-for="WorkerType" class="text-danger"></span>
                                </div>
                                <div class="form-group input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Password " id="Password" name="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group input-group mb-3">
                                    <input type="text" class="form-control" data-toggle="modal" data-target="#exampleModal" placeholder="Address" id="Message" name="Message">
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3" style="display: flex; justify-content: center;">
                                    <button id="Button" type="submit" name="submit" formmethod="post" class="btn btn-primary">Create User</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Address form -->

                        <h2>Address</h2>

                        <!-- country select -->
                        <div class="control-group">

                            <div class="control-group">
                                <label class="control-label">Country</label>
                                <div class="controls">
                                    <select id="country" name="country" class="input-xlarge">
                                        <option value="" selected="selected">(please select a country)</option>
                                        <option value="IN">India</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- State select -->
                        <div class="control-group">
                            <div class="control-group">
                                <label class="control-label">State</label>
                                <div class="controls">
                                    <select id="State" name="State" class="input-xlarge">
                                        <option value="" selected="selected">(please select a state)</option>
                                        <option value="IN">India</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <!-- city select -->
                        <div class="control-group">
                            <div class="control-group">
                                <label class="control-label">City</label>
                                <div class="controls">
                                    <select id="city" name="city" class="input-xlarge">
                                        <option value="" selected="selected">(please select a City)</option>
                                        <option value="IN">India</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Taluka select -->
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Taluka</label>
                                <div class="controls">
                                    <select id="taluka" name="taluka" class="input-xlarge">
                                        <option value="" selected="selected">(please select a taluka)</option>
                                        <option value="IN">India</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Taluka - input-->
                        <div class="form-group">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Taluka:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                                <p class="help-block">Street address, P.O. box, company name, c/o</p>
                            </div>
                        </div>

                        <!-- postal-code input-->
                        <div class="control-group">
                            <label class="control-label">Zip / Postal Code</label>
                            <div class="controls">
                                <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .mb-3 {
        margin-left: 20%;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script>

         $(document).ready (function (){
             $(".dropdown-toggle").dropdown();
         $('.dropdown-menu').on( 'click', 'a', function() {
        var text = $(this).html();
        var htmlText = text + ' <span class="caret"></span>';
        $(this).closest('.dropdown').find('.dropdown-toggle').html(htmlText);
    });

         });





        $(function() {
          $('body').on('focus',"#DateOfBirth", function(){
                $(this).datepicker({ dateFormat: 'dd-mm-yy' });
          });
        });
</script>
<script type="text/javascript">

    $(document).ready(function(){
        if(window.matchMedia("(max-width: 767px)").matches){
            // The viewport is less than 768 pixels wide
           $('.mb-3').css(' margin-left','');
        } else{
            // The viewport is at least 768 pixels wide
            $('.mb-3').css(' margin-left','20%');
        }
    });
</script>
