@{
    ViewData["Title"] = "Home Page";
}



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="card" style="border-radius: 20px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Please Select your Profile</h2>
                    <div id="container">
                        <!-- flex container -->
                         <div class="box"  id="Factory" style="border: 2px solid #000;border-radius: 10px;">
                         <img  src="images/Factory_n.jpg" alt="Snow" style="width:100%;border-radius: 6px;"></div>
                         <div class="box" id="Labour" style="border: 2px solid #000;border-radius: 10px;">
                         <img src="images/worker2.jpg" alt="Snow" style="width:100%;border-radius: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style type="text/css">
    #container {
        display: flex; /* establish flex container */
        flex-direction: row; /* make main axis horizontal (default value) */
        justify-content: center; /* center items horizontally, in this case */
        align-items: center; /* center items vertically, in this case */
    }

    .box {
        width: 300px;
        margin: 5px;
        text-align: center;
    }</style>
<script type="text/javascript">
    $(window).on('load', function() {
     $('#exampleModalCenter').modal({
            backdrop: 'static'
        });
      $("#Labour").click(function() {
         window.location.href = '/User/Create';
    });
    });
</script>