@{
    ViewData["Title"] = "Home Page";
}
    
    <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Please Select your Profile</h2>

                    <form>
                        <div class="form-group">
                        
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Company</button>
                        </div>
                        <br />
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Worker</button>
                        </div>

                    </div>
                    </form>

                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    
